* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f1e5ca, #d64d62);
  color: #fff;
  overflow: hidden;
}

.music-container {
  width: 340px;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 25px;
  padding: 30px;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 25px rgba(0,0,0,0.6);
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.logo span {
  color: #d64d62;
}

.img-container {
  width: 220px;
  height: 220px;
  margin: 15px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(160, 37, 3, 0.656);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  animation: rotate 8s linear infinite;
  animation-play-state: paused;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#music-title {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #fff;
}
#artist {
  font-size: 0.9rem;
  color: #5d1919;
}

.progress-container {
  background: #333;
  height: 6px;
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
}

.progress {
  background: #e63d57;
  height: 6px;
  width: 0%;
  border-radius: 5px;
  transition: width 0.2s linear;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: rgb(195, 32, 32);
  cursor: pointer;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.2);
  color: #e1774d;
}

.bottom-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.small {
  font-size: 1.2rem;
}
